<!DOCTYPE html>
<html>
<head>
<!-- Other sevice
	=====================================================-->
	<link href=”/public/images/favicon.ico” rel=”icon” type=”image/x-icon”/>
	<meta charset="utf-8" />
	<title>{{=dataUser.user}}</title>
	<!--отключение зума-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	
<!-- Styles
	=====================================================-->
	<link rel="stylesheet" href="/public/style/themes/jquery-mobile/jquery.mobile.css"/>
	<link rel="stylesheet" href="/public/style/party/jquery-ui/jquery-ui.css"/>
	<link rel="stylesheet" href="/public/style/canvas.css"/>
	<link rel="stylesheet" href="/public/style/themes/picker/cp-normal.css"/>
	<!--<link rel="stylesheet" href="/public/style/themes/picker/cp-normal.css"/>-->
	
<!-- JavaScripts
	=====================================================-->
	<script data-main="/public/js/user_mobile.js" src="/public/js/lib/require.js"></script>
	
</head>
<body>
<div data-role="page" class="ui-responsive-panel">

	<div data-role="header">
		<h1>External panels</h1>
        <a href="#leftpanel" class="ui-btn-right ui-shadow ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-gear">Options</a>
    </div><!-- /header -->
	
	<div role="main" class="ui-content jqm-content jqm-fullwidth">
		<div id='allCanvas'></div>
	</div><!-- /content -->

    <div data-role="panel" id="leftpanel" data-position="right" data-display="push" data-theme="a">
        <nav>
            <div id="color-picker" class="cp-normal"></div>
        </nav>
    </div><!-- /leftpanel1 -->

	<div>
	</div><!-- footer -->

</div><!-- page -->

<!--<img id="imageData" src={{=canvasImage}}/>-->


</body>
</html>
