<!DOCTYPE html>
<html>
<head>
    <link href=”/public/images/favicon.ico” rel=”icon” type=”image/x-icon”/>
  <meta charset="utf-8" />
  
  <!--отключение зума-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/public/style/themes/jquery-mobile/mytheme.css"/>


  <title>{{=dataUser.user}}</title>
  <link rel="stylesheet" href="/public/style/style.css"/>
  <link rel="stylesheet" href="/public/style/user.css"/>
  <link rel="stylesheet" href="/public/style/themes/picker/cp-normal.css"/>
  <link rel="stylesheet" href="/public/style/party/jquery-ui/jquery-ui.css"/>

  <script data-main="/public/js/user.js" src="/public/js/lib/require.js"></script>
  
  



  
</head>
<body style='font-size:30px ; height:400px'>

  <img id="imageData" src={{=canvasImage}}/>
  <div id='allCanvas'></div>
<!--  <nav>-->
<!--      <div id="color-picker" class="cp-normal"></div>-->
<!--  </nav>-->

</body>
    <!--отсключение скрола-->
  <script>
  	document.body.addEventListener('touchmove', function(event) {
	  event.preventDefault();
	}, false);
  </script>
</html>
