body{
  height:100%;
    background-image: url('/frontend/src/public/images/background/1217450647_200829074527-9082.jpg');
}
.stretch{
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    /*http://sitear.ru/material/css-background-rastyanut*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.product-headers{
    position: absolute;
    width: 15em;
    left:5em;
    background: rgba(255,255,255,0);
    border-radius: 5px;
    padding: 20px;
}
.product-headers h1{
    font-weight: bold;
    text-shadow: rgb(0, 0, 0) 0px 1px 2px;
    color:white;
}
.product-headers h2{
    text-shadow: rgb(0, 0, 0) 0px 1px 2px;
    color:#ddd;
}
.sign-box{
    right:5em;
    top:15em;
    position: absolute;
    padding: 1em;
    font-family: Verdana, sans-serif;
    border-radius: 0.5em;
    background: rgb(255,252,252); /* Old browsers */
    background: rgb(255,252,252); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,252,252,1) 0%, rgba(245,247,249,1) 42%, rgba(229,235,238,1) 82%, rgba(215,222,227,1) 96%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,252,252,1)), color-stop(42%,rgba(245,247,249,1)), color-stop(82%,rgba(229,235,238,1)), color-stop(96%,rgba(215,222,227,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,252,252,1) 0%,rgba(245,247,249,1) 42%,rgba(229,235,238,1) 82%,rgba(215,222,227,1) 96%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,252,252,1) 0%,rgba(245,247,249,1) 42%,rgba(229,235,238,1) 82%,rgba(215,222,227,1) 96%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,252,252,1) 0%,rgba(245,247,249,1) 42%,rgba(229,235,238,1) 82%,rgba(215,222,227,1) 96%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,252,252,1) 0%,rgba(245,247,249,1) 42%,rgba(229,235,238,1) 82%,rgba(215,222,227,1) 96%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffcfc', endColorstr='#d7dee3',GradientType=0 ); /* IE6-9 */
}

.sign-box h3{
    border-bottom: 1px solid #d7dee3;
    box-shadow: 0px 1px 0px white;
}
.sign-box span{
    font-size: 0.8em;
}

.sign-box div{
    width:100%;
    margin:1em 0;
}
input{
    box-sizing: border-box;
    width:100%;
    outline: none;
    font: 1.5em Arial,sans-serif;
    padding: 0.3em;
    border: 1px solid #c9d0d5;
    color: #777;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 4px;
    box-shadow: 0px 1px 1px #d7dee3 inset, 0px 0px 1px white;
}

#submit{
    padding: 0.3em 0.5em;
    text-align: center;
    color: #121112;
    font-weight: bold;
    font-style: normal;
    text-shadow: 0px 1px 1px white;
    border-radius: 4px;
    box-shadow: 0px 2px 2px white;
    border: 1px solid #fd9b10;
    background: rgb(254,229,76); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZTU0YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZDliMTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(254,229,76,1) 0%, rgba(253,155,16,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,229,76,1)), color-stop(100%,rgba(253,155,16,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(254,229,76,1) 0%,rgba(253,155,16,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(254,229,76,1) 0%,rgba(253,155,16,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(254,229,76,1) 0%,rgba(253,155,16,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(254,229,76,1) 0%,rgba(253,155,16,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee54c', endColorstr='#fd9b10',GradientType=0 ); /* IE6-8 */
}
input:focus{
    box-shadow: 0 0 0.5em #008cff;
    border: 1px solid #008cff;
}
#submit:focus,#submit:hover{
    box-shadow: 0 0 0.5em orange;
}


