html{
    background: #333;
}

.sign-up{
    width:80%;
    padding: 2% 10%;
}
.signup-box{
    padding: 4% 5%;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 0.3%;
}

.signup-box div{
    box-sizing: border-box;
    padding:1.5% 0;
    position: relative;
}
.signup-box .messages{
    display: inline;
    padding-left: 4em;
    font-size: 1.2em;
    font-family:Arial;
}
.box-messages{

}

h2{
    font-weight: bold;
    padding: 1.5% 0;
}
h4{
    font-weight: bold;
    padding-bottom:1%;
    color:#333;
}
input, button{
    width:50%;
    background:rgb(245, 245, 245);
}
p{
    position: absolute;
    left:55%;
}

#answer{
  margin-top:3em;
  display:none;
  border: 1px dotted #ef2929;
  background: #ffb8b8;
  color: #a40000;
}

<!-- script classes -->

.source{
    color:#999;
}
.ok{
    background: url('/frontend/src/public/images/accept.png') no-repeat center left;
    color: #390;
}
.check{
    background: url('/frontend/src/public/images/spinner-small.gif') no-repeat center left;
    color: #999;
}
.error, .engaged{
    background: url('/frontend/src/public/images/error.png') no-repeat center left;
    color: #c33;
}

