<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8>
  <title>Нарисуй мне. Регистрация.</title>
  <link href="/public/css/style.css" rel="stylesheet" type="text/css"/>
  <link href="/public/css/index.css" rel="stylesheet" type="text/css"/>
  <script src="/public/js/jquery.min.js" type="text/javascript"></script>
  <script src="/public/js/jquery.cookie.min.js" type="text/javascript"></script>
  <script defer src="/public/js/index.js" type="text/javascript"></script>
</head>
<body>
  <div class="product-headers">
    <h1>Добро пожаловать!</h1>
    <h2>Рисуйте друг другу на стене!</h2>
  </div>
  <div class="sign-box">
    <h3><b>Впервые здесь? </b><span>Присоединяйтесь</span></h3>
      <form method="post" action="/registration">
        <div class="user-div">
          <input id="user" value="" name="user" type="text" autocomplete="off"
               placeholder="Имя и фамилия" spellcheck="false">
        </div>
        <div class="email-div">
          <input id="email" value="" name="email" type="email" autocomplete="off"
               placeholder="Адрес электронной почты" spellcheck="false">
        </div>
        <input id="submit" title="" type="submit" value="Регистрация">
      </form>
  </div>
</body>
</html>
