<!DOCTYPE html>
<html>
<head>
    <link href=”/public/images/favicon.ico” rel=”icon” type=”image/x-icon”/>
  <meta charset="utf-8" />
  <title>{{=dataUser.user}}</title>
  <link rel="stylesheet" href="/public/css/style.css"/>
  <link rel="stylesheet" href="/public/css/user.css"/>
  <link rel="stylesheet" href="/public/css/cp-normal.css"/>
  <link rel="stylesheet" href="/public/css/jquery-ui.css"/>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/public/js/jquery.min.js"></script>
	<script src="/public/js/colorpicker.js"></script>
	<script src="/public/js/scripts.js"></script>
  <script src="/public/js/jquery-ui.js"></script>
</head>
<body>
  <img id="imageData" src={{=canvasImage}} />
  <div id="placeCanvas" >
    <div id='allCanvas' class="draggable shadow">

    </div>
  </div>
  <div class="side">    
    <img id="paint"   title="Цветовая палитра"  src="/public/images/paint.png">
    <img id="brush"   title="Кисть"             src="/public/images/brush.png">
    <img id="hand"    title="Рука"              src="/public/images/hand-icon.png">
    <img id="zoomIn"  title="Увеличить масштаб" src="/public/images/zoomin.png">
    <img id="zoomOut" title="Уменьшить масштаб" src="/public/images/zoomout.png">
    <img id="eraser"  title="Стёрка"            src="/public/images/draft.png">
    <img id="clear"   title="Очистить холст"    src="/public/images/clear.png"> 
  </div>
  <!--
  <div id="slider-panel" class="panel ">
    <div class="option">Sliders</div>
    <div class="slider-field">
      <div class="discription"><span>Размер</span></div>
      <div class="slider" id="sliderSize"></div>
    </div>
    <div class="slider-field">
      <div class="discription"><span>Прозрачность</span></div>
      <div class="slider" id="sliderOpacity"></div>
    </div>
    <div class="slider-field">
      <div class="discription"><span>Приближение</span></div>
      <div class="slider" id="sliderScale"></div>
    </div>
  </div>
  
  <div id="image-panel">
    <div>
      <div id="demoPicker"></div>
    </div>
  </div>

  <div id="color-panel" class="panel shadow ">
    <div class="option">Colors</div>
    <div id="color-picker" class="cp-normal"></div>
  </div>
-->

</body>
</html>
